RewriteEngine On
RewriteBase /

# Nếu không phải file hoặc thư mục thực tế thì chuyển về index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]